# Ignore IDE files
.vscode
.idea

# build, logs and coverage files
node_modules
build
dist
dev-dist
.*local
.env
*.log
coverage

# Debug logs
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log
lerna-debug.log

# TypeScript build info
*.tsbuildinfo

# Test files and reports
playwright-report
test-results
playwright.config.ts

# Development and configuration files
*.md
.husky
.lintstagedrc.yaml
commitlint.config.ts
vercel.json

# OS files
.DS_Store
Thumbs.db

# Cache and temporary files
.eslintcache

# Environment files
.env*
!.env.example

# Git files
.gitignore

