# Editor directories and files
.vscode/*
!.vscode/eclipse-java-google-style.xml
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
coverage/
.github/*
!.github/workflows/

target/
*.class
/.mvn/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode

### VisualStudioCode ###
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/*.code-snippets

# Environment files
.env
.env.*.local
.env.local
.env.production.local
.env.development.local
