# Ignore Maven/Gradle build output
target/
build/
data/

# # Ignore Maven wrapper
# mvnw
# mvnw.cmd

# Ignore IDE files
*.iml
.idea/
*.classpath
*.project
*.settings/
.vscode

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore logs
*.log
logs/

# Ignore environment files
.env
.env*

# Ignore test reports and test files
test-output/
surefire-reports/
jacoco.exec
src/test/
**/*Test.java
**/*Tests.java

# Ignore Docker files themselves
Dockerfile
compose.yaml

# Ignore documentation
*.md

# Ignore Git files
.gitignore
.gitattributes
