services:
    redis:
        image: "redis:8.2.1-alpine"
        ports:
            - "6379"
        environment:
            REDIS_USER: myuser
            REDIS_PASSWORD: mypassword
        restart: always
