services:
    redis-dev:
        image: "redis:8.2.1-alpine"
        container_name: pft-dev-redis
        restart: unless-stopped
        ports:
            - "6379:6379"
        networks:
            - redis-dev-network
        volumes:
            - redis-dev-data:/data
        command: redis-server --appendonly yes --requirepass mypassword
        healthcheck:
            test:
                [
                    "CMD-SHELL",
                    "redis-cli --no-auth-warning -a mypassword ping | grep PONG",
                ]
            interval: 10s
            timeout: 3s
            retries: 3
            start_period: 5s

    redisinsight-dev:
        image: redis/redisinsight:2.70.1
        container_name: pft-dev-redisinsight
        environment:
            RI_REDIS_HOST: redis-dev
            RI_REDIS_PORT: 6379
            RI_REDIS_PASSWORD: mypassword
        restart: unless-stopped
        ports:
            - "5540:5540"
        volumes:
            - redis-insight-dev-data:/data
        networks:
            - redis-dev-network
        depends_on:
            redis-dev:
                condition: service_healthy

volumes:
    redis-dev-data:
    redis-insight-dev-data:

networks:
    redis-dev-network:
        driver: bridge
