@import "./global.css";

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip-path: inset(0 0 0 0);
	border: 0;
	white-space: nowrap;
}

/* * {
	box-sizing: border-box;
}

::before,
::after {
	box-sizing: border-box;
} */

@layer utilities {
	.text-responsive {
		@apply text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl;
	}
}

@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		animation-delay: -1ms !important;
		animation-duration: 1ms !important;
		animation-iteration-count: 1 !important;
		background-attachment: initial !important;
		scroll-behavior: auto !important;
		transition-duration: 1ms !important;
		transition-delay: -1ms !important;
	}
}
