@import "./global.css";

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip-path: inset(0 0 0 0);
	border: 0;
	white-space: nowrap;
}

/* * {
	box-sizing: border-box;
}

::before,
::after {
	box-sizing: border-box;
} */
