@import "./global.css";

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip-path: inset(0 0 0 0);
	border: 0;
}

/* * {
	box-sizing: border-box;
}

::before,
::after {
	box-sizing: border-box;
} */

.mask {
	@apply dark:bg-black/80;
}

.mask-content .text {
	@apply dark:text-gray-200;
}
